:root {
    --background: #B8CBD0;
    --text-color: #000000;
}

body{
    background: var(--background);
    display: block;
    font-family: Futura, Helvetica, Arial, sans-serif;
    color: var(--text-color);
    min-height: 100%;
    padding-bottom: 50px;
    height: 100%;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

#posts {
    padding-left: 18%;
    padding-top: 5%;
}
  
input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    outline: none;
    box-shadow: none;
}

input[type="submit"]{
    flex: 0 0 auto;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #f1f1f1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-post{
    display: flex;
    margin-top: 25px;
    align-items: center;
    bottom: 0;
    width: 290px;
    margin-top: 250px;
}

#pdp{
    margin-right: 10px;
}