:root{
    --background: #B8CBD0;
    --text-color: #000000;
}

body{
    background: var(--background);
    display: block;
    color: var(--text-color);
    font-family: Futura, Helvetica, Arial, sans-serif;
    min-height: 100%;
    padding-bottom: 50px;
    height: 100%;
}

/*--------------------*/

img{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

/*Liste des onglets*/
ul{
    list-style-type:none;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-top: 20px;
    border-top: solid #9F9F9F 2px;
    border-right: solid #9F9F9F 2px;
    width: 15%;
    height: 100%;
    min-width: 200px;
}

/*Image des onglets*/
li img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

/*Box image+liens*/
#user:not(:first-of-type){
    margin-top: 40px;
    padding: 2px;
    width: fit-content;
}

/*--------------------------------*/


header {
    width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/*Lien visité*/
#list a:visited {
    color: var(--text-color);
}

/*Liste des liens d'utilisateur*/
#list{
    margin-top: 50px;
    border-left: 2px solid #9F9F9F;
    padding-left: 40px;
    padding-top: 10px;
    margin-left: 18%;
}

img{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

#searchbar {
    display: inline-block;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;

}
  
input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    outline: none;
    box-shadow: none;
}
  
/*Searchbar cliquée*/
input[type="text"]:focus {
    border-color: #4285f4;
    box-shadow: 0px 0px 5px #4285f4;
}

/*Loupe cliquée*/
input[type="text"]:focus::placeholder {
    opacity: 0;
}
